@import "tailwindcss";

:root {
  --primary: #d90f17;
  --background-light: #f5f6f8;
  --background-dark: #101622;
}

.bg-primary {
  background-color: var(--primary);
}
.text-primary {
  color: var(--primary);
}
body {
  font-family: var(--font-space-grotesk), sans-serif;
  -webkit-tap-highlight-color: transparent;
  background-color: var(--background-dark);
}
